.new__section {

  .new__top {
margin-bottom: 25px;
display: flex;
justify-content: space-between;
align-items: center;
.new__left--top{
h3 {
  font-size: 17px;
  color: #000;
  margin-bottom: 3px;
}
h2 {
  color: #003459;
  font-size: 24px;
  font-weight: 700;
  text-transform: capitalize;

}
}
.new__right--top {
  
  a {
    display: flex;
  align-items: center;
    border: 1px solid #003459;
    padding: 15px 35px;
    border-radius: 55px;
    color: #003459;
    &:hover {
      background-color: black;
      color: white;
      transition: all ease 1s;
      border: none;
    }
    i {
      margin-left: 5px;
    }
  }
}
  }
  .new__parent {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 40px;
    li {
      span {
      
          font-weight: 700;
        
      }
      h3 {
        font-weight: 700;
        margin-bottom: 5px;
      }
      .types {
        font-size: 12px;
        color: #667479;
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        
        i {
          font-size: 4px;
          margin: 0 10px;
        }
       
      }
    
    }
  }
}


